@import "//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons";

html {
  height: 100%;
}

body {
	margin: 0;
}

#app {
	font-family: "Roboto";
}

.box {
	border: 1px solid black;
}