# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Created by https://www.gitignore.io/api/node,python,django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/cache/
local_settings.py

# Dependency directories
node_modules/

# Distribution / packaging
.Python
env/
dist/
downloads/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
local_settings.py

# hotupdates
*.hot-update.json
*.hot-update.js

assets/

Downloads/

app/tags/migrations/
profiles/migrations/


