<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>eAuction</title>
  </head>
  <body>
    <script type="text/javascript">
    
      window.__INITIAL_STATE__ = {
        'isAuthenticated' : false,
        'username' : '',
        'isAuctioneer': false
      }

      {% if user.is_authenticated %}
        window.__INITIAL_STATE__.isAuthenticated = true;
        window.__INITIAL_STATE__.username = "{{ user.username }}";
        condition = "{{user.profile.isAuctioneer}}"
        window.__INITIAL_STATE__.isAuctioneer = (condition.toLowerCase() == 'true')
      {% endif %}
    </script>
  	{% csrf_token %}
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/static/app.js"></script></body>
</html>
